@use "../variables/variables" as v;

.phone {
  width: 90rem;
  min-height: 50.5rem;
  border-radius: 2.8rem;
  padding: 1rem;
  background-color: v.$white;
  box-shadow: 0 20px 20px rgba(146, 145, 145, 0.267);
  z-index: 99;
}

@media (width < 1000px) {
  .phone {
    width: 26rem;
  }
}
